<ul class="nav justify-content-center" >
    <li class="nav-item" >
      <a onclick="fontChange(this)" class="nav-link" id="home" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item" >
      <a onclick="fontChange(this)" class="nav-link" href="/service" id="service" >Service</a>
    </li>
    <li class="nav-item" >
      <a onclick="fontChange(this)" id="contact" class="nav-link" href="/contact">Contact</a>
    </li>
</ul>